USE [master]
GO
/****** Object:  Database [VehicleManagementSystem]    Script Date: 06-07-2026 23:38:22 ******/
CREATE DATABASE [VehicleManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VehicleManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VehicleManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleManagementSystem]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalCost] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleName] [varchar](100) NOT NULL,
	[VehicleType] [varchar](20) NOT NULL,
	[RegistrationNumber] [varchar](50) NOT NULL,
	[DailyRate] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_DateRange] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_DateRange]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Status] CHECK  (([Status]='Cancelled' OR [Status]='Confirmed'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_TotalCost] CHECK  (([TotalCost]>(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_TotalCost]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Customer' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [CK_Vehicles_DailyRate] CHECK  (([DailyRate]>(0)))
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [CK_Vehicles_DailyRate]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [CK_Vehicles_Status] CHECK  (([Status]='Maintenance' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [CK_Vehicles_Status]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [CK_Vehicles_Type] CHECK  (([VehicleType]='Van' OR [VehicleType]='Hatchback' OR [VehicleType]='SUV' OR [VehicleType]='Sedan'))
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [CK_Vehicles_Type]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddVehicle]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddVehicle]
(
    @VehicleName VARCHAR(100),
    @VehicleType VARCHAR(50),
    @RegistrationNumber VARCHAR(50),
    @DailyRate DECIMAL(10,2)
)
AS
BEGIN

    INSERT INTO Vehicles
    (
        VehicleName,
        VehicleType,
        RegistrationNumber,
        DailyRate,
        Status
    )
    VALUES
    (
        @VehicleName,
        @VehicleType,
        @RegistrationNumber,
        @DailyRate,
        'Available'
    );

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CancelBooking]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CancelBooking]
(
    @BookingId INT
)
AS
BEGIN

    UPDATE Bookings
    SET Status='Cancelled'
    WHERE BookingId=@BookingId
    AND Status='Confirmed';

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateBooking]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreateBooking]
(
    @UserId INT,
    @VehicleId INT,
    @StartDate DATE,
    @EndDate DATE
)
AS
BEGIN

    IF EXISTS
    (
        SELECT 1
        FROM Bookings
        WHERE VehicleId = @VehicleId
        AND Status = 'Confirmed'
        AND StartDate <= @EndDate
        AND EndDate >= @StartDate
    )
    BEGIN
        RAISERROR('Vehicle already booked for selected dates.',16,1);
        RETURN;
    END

    INSERT INTO Bookings
    (
        UserId,
        VehicleId,
        StartDate,
        EndDate,
        TotalCost,
        Status
    )
    SELECT
        @UserId,
        @VehicleId,
        @StartDate,
        @EndDate,
        (DATEDIFF(DAY,@StartDate,@EndDate) + 1) * DailyRate,
        'Confirmed'
    FROM Vehicles
    WHERE VehicleId = @VehicleId;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllBookings]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllBookings]
(
    @Status VARCHAR(20)=NULL
)
AS
BEGIN

    SELECT
        B.BookingId,
        U.Name AS CustomerName,
        V.VehicleName,
        B.StartDate,
        B.EndDate,
        B.TotalCost,

        CASE
            WHEN B.Status='Confirmed'
                 AND B.EndDate < CAST(GETDATE() AS DATE)
            THEN 'Completed'
            ELSE B.Status
        END AS Status

    FROM Bookings B
    INNER JOIN Users U
        ON B.UserId = U.UserId
    INNER JOIN Vehicles V
        ON B.VehicleId = V.VehicleId

    WHERE
    (
        @Status IS NULL
        OR
        (
            CASE
                WHEN B.Status='Confirmed'
                     AND B.EndDate < CAST(GETDATE() AS DATE)
                THEN 'Completed'
                ELSE B.Status
            END
        ) = @Status
    );

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllVehicles]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllVehicles]
AS
BEGIN
    SELECT *
    FROM Vehicles;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvailableVehicles]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAvailableVehicles]
(
    @StartDate DATE = NULL,
    @EndDate DATE = NULL,
    @VehicleType VARCHAR(50) = NULL
)
AS
BEGIN

    SELECT
        V.*
    FROM Vehicles V
    WHERE V.Status = 'Available'

    AND
    (
        @VehicleType IS NULL
        OR V.VehicleType = @VehicleType
    )

    AND
    (
        @StartDate IS NULL
        OR @EndDate IS NULL
        OR NOT EXISTS
        (
            SELECT 1
            FROM Bookings B
            WHERE B.VehicleId = V.VehicleId
            AND B.Status <> 'Cancelled'
            AND B.StartDate <= @EndDate
            AND B.EndDate >= @StartDate
        )
    );

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMyBookings]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetMyBookings]
(
    @UserId INT
)
AS
BEGIN

    SELECT
        B.BookingId,
        V.VehicleName,
        B.StartDate,
        B.EndDate,
        B.TotalCost,

        CASE
            WHEN B.Status='Confirmed'
                 AND B.EndDate < CAST(GETDATE() AS DATE)
            THEN 'Completed'
            ELSE B.Status
        END AS Status

    FROM Bookings B
    INNER JOIN Vehicles V
        ON B.VehicleId = V.VehicleId
    WHERE B.UserId = @UserId;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetVehicleById]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetVehicleById]
(
    @VehicleId INT
)
AS
BEGIN
    SELECT *
    FROM Vehicles
    WHERE VehicleId = @VehicleId;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Login]
(
    @Email VARCHAR(100)
)
AS
BEGIN
    SELECT
        UserId,
        Name,
        Email,
        PasswordHash,
        Role
    FROM Users
    WHERE Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegisterUser]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegisterUser]
(
    @Name VARCHAR(100),
    @Email VARCHAR(100),
    @PasswordHash VARCHAR(500)
)
AS
BEGIN
    INSERT INTO Users
    (
        Name,
        Email,
        PasswordHash,
        Role
    )
    VALUES
    (
        @Name,
        @Email,
        @PasswordHash,
        'Customer'
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateVehicle]    Script Date: 06-07-2026 23:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateVehicle]
(
    @VehicleId INT,
    @VehicleName VARCHAR(100),
    @VehicleType VARCHAR(50),
    @RegistrationNumber VARCHAR(50),
    @DailyRate DECIMAL(10,2),
    @Status VARCHAR(20)
)
AS
BEGIN

    IF @Status='Maintenance'
    AND EXISTS
    (
        SELECT 1
        FROM Bookings
        WHERE VehicleId=@VehicleId
        AND Status='Confirmed'
        AND EndDate >= CAST(GETDATE() AS DATE)
    )
    BEGIN
        RAISERROR
        (
            'Vehicle has active booking and cannot be moved to maintenance.',
            16,
            1
        );
        RETURN;
    END

    UPDATE Vehicles
    SET
        VehicleName=@VehicleName,
        VehicleType=@VehicleType,
        RegistrationNumber=@RegistrationNumber,
        DailyRate=@DailyRate,
        Status=@Status
    WHERE VehicleId=@VehicleId;

END
GO
USE [master]
GO
